"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
