"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
  editor:
    showInvisibles: true
    softWrap: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
