[include]
  path = ~/.gituser
[alias]
  ll = log --pretty=format:\"%C(dim green)%h %ad%Creset %C(cyan)%an%Creset%C(auto)%d%Creset %s\" --date=short --graph --all
  l = "!git ll -15"
  lf = log --format=fuller
  co = checkout
  cm = "!git commit -m "
  b = branch
  d = diff
  s = status
  m = merge
  a = add
  f = "!git fetch && git l -10"
  p = "!git push && git l -10"
  pl = "!git pull && git l -10"
  # Show contributors sorted by frequency
  rank = !git log --pretty=format:"%an" | sort | uniq -c | sort -frn
  # Delete local branches that have been deleted on the remote
  clean = "!f() { echo "git fetch --all -p; git branch -vv | grep ": gone]" | awk '{ print $1 }' | xargs -n 1 git branch -d"; }; f"
  # Show files with conflicts
  conflicts = diff --name-only --diff-filter=U
[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  protectHFS = true
  protectNTFS = true
[credential]
  helper = osxkeychain
[receive]
  fsckObjects = true
[push]
	default = simple
