[init]
  templatedir = ~/.git_template
[include]
  path = ~/.gituser
[alias]
  a = "add"
  b = "branch"
  bd = "branch -D"
  bv = "branch -vv"
  ca = "!git commit --amend "
  cb = "!git checkout -b"
  cm = "!git commit -m "
  co = "checkout"
  d = "diff"
  f = "!git fetch && git l -10"
  l = "!git ll -15"
  lf = "log --format=fuller"
  ll = "log --pretty=format:\"%C(dim green)%h %ai%Creset %C(cyan)%an%Creset%C(auto)%d%Creset %s\" --graph --all --color=always"
  m = "merge"
  p = "!git push && git l -10"
  pf = "!git push -f && git l -10"
  pl = "!git pull && git l -10"
  pu = "!git push -u origin HEAD && git l -10"
  rp = "remote prune origin"
  s = "status"
  # Show contributors sorted by frequency
  rank = !git log --pretty=format:"%an" | sort | uniq -c | sort -frn
  # Show files with conflicts
  conflicts = diff --name-only --diff-filter=U
  # Diffs a file agains its last changes
  changes = log -p --follow -1
  # Lists all files in a commit
  files = show --pretty="" --name-only
  # Re-index ctags
  ctags = !.git/hooks/ctags
[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  protectHFS = true
  protectNTFS = true
[credential]
  helper = osxkeychain
[receive]
  fsckObjects = true
[push]
  default = simple
