let mapleader = ' '
set clipboard=unnamedplus
set nohlsearch
set ignorecase
set incsearch
set novisualbell
set noerrorbells
set ideajoin

nnoremap j <C-d>
vnoremap j <C-d>
nnoremap k <C-u>
vnoremap k <C-u>
nnoremap h gT
nnoremap l gt
nnoremap S }
vnoremap S }
nnoremap U {
vnoremap U {

nnoremap ± :source ~/.ideavimrc<CR>
vnoremap ± :source ~/.ideavimrc<CR>

nnoremap Q :action CloseAllEditorsButActive<CR>
vnoremap Q :action CloseAllEditorsButActive<CR>
nnoremap q :q<CR>
vnoremap q :q<CR>
nnoremap s :w<CR>
vnoremap s :w<CR>

" uses the default delete as cut
nnoremap K d
nnoremap KK Vx
vnoremap K x

" do not cut when deleting with d
nnoremap d "_d
vnoremap d "_d
nnoremap D "_D
vnoremap D "_D

" comment
nnoremap <leader>c<Space> :action CommentByLineComment<CR>
vnoremap <leader>c<Space> :action CommentByLineComment<CR>
nnoremap <leader>cc :action CommentByLineComment<CR>
vnoremap <leader>cc :action CommentByBlockComment<CR>

nnoremap <leader>g :action Annotate<CR>
nnoremap <leader>G :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>h :set hlsearch!<CR>
nnoremap <leader>i :action NextSplitter<CR>
nnoremap <leader>m :action ShowIntentionActions<CR>
nnoremap <leader>M :action ShowPopupMenu<CR>
nnoremap <leader>o :action SplitVertically<CR>
nnoremap <leader>P :action CopyFileReference<CR>
nnoremap <leader>p :action CopyPathFromRepositoryRootProvider<CR>
nnoremap <leader>s :%s/

" Navigation

nnoremap <leader>d :action HideAllWindows<CR>
nnoremap <leader>D :action SelectInProjectView<CR>

nnoremap <leader>f :action ShowNavBar<CR>
nnoremap <leader>F :action ActivateFindToolWindow<CR>

map f :action AceAction<CR>

" Code navigation

nnoremap ' :action GotoPreviousError<CR>
nnoremap ; :action GotoNextError<CR>

nnoremap <leader>; :action GotoDeclaration<CR>
nnoremap <leader>: :action EditSource<CR>

nnoremap <Leader>jc :action CallHierarchy<CR>
nnoremap <Leader>jf :action FileStructurePopup<CR>
nnoremap <Leader>jh :action TypeHierarchy<CR>
nnoremap <Leader>ji :action GotoImplementation<CR>
nnoremap <Leader>jm :action MethodHierarchy<CR>
nnoremap <Leader>js :action GotoSuperMethod<CR>
nnoremap <Leader>jt :action GotoTypeDeclaration<CR>
nnoremap <Leader>ju :action ShowUmlDiagramPopup<CR>

" Type info

nnoremap t :action QuickTypeDefinition<CR>
nnoremap T :action QuickJavaDoc<CR>

nnoremap r :action GotoRelated<CR>
nnoremap R :action FindUsages<CR>
nnoremap <leader>r :action QuickImplementations<CR>

nnoremap <leader>e :action ShowErrorDescription<CR>
nnoremap <leader>w :action ParameterInfo<CR>

" Build and debug

nnoremap <Leader>bB :action Compile<CR>
nnoremap <Leader>bb :action CompileDirty<CR>
nnoremap <Leader>bc :action CreateRunConfiguration<CR>
nnoremap <Leader>bC :action editRunConfigurations<CR>
nnoremap <Leader>bD :action ChooseDebugConfiguration<CR>
nnoremap <Leader>bd :action Debug<CR>
nnoremap <Leader>bk :action ViewBreakpoints<CR>
nnoremap <Leader>bL :action DebugClass<CR>
nnoremap <Leader>bl :action RunClass<CR>
nnoremap <Leader>bm :action NavBarToolBar<CR>
nnoremap <Leader>bP :action EditBreakpoint<CR>
nnoremap <Leader>bp :action ToggleLineBreakpoint<CR>
nnoremap <Leader>bR :action ChooseRunConfiguration<CR>
nnoremap <Leader>br :action Run<CR>

" Extract and generate

nnoremap <Leader>xi :action ExtractInterface<CR>
nnoremap <Leader>xs :action ExtractSuperclass<CR>
nnoremap <Leader>xn :action ExtractClass<CR>
nnoremap <Leader>xm :action ExtractMethod<CR>
nnoremap <Leader>xv :action IntroduceVariable<CR>
nnoremap <Leader>xf :action IntroduceField<CR>
nnoremap <Leader>xp :action IntroduceParameter<CR>
nnoremap <Leader>xc :action IntroduceConstant<CR>

nnoremap <Leader>xE :action GenerateEquals<CR>
nnoremap <Leader>xG :action GenerateGetter<CR>
nnoremap <Leader>xS :action GenerateSetter<CR>
nnoremap <Leader>xA :action GenerateGetterAndSetter<CR>
nnoremap <Leader>xC :action GenerateConstructor<CR>
nnoremap <Leader>xT :action Actions.ActionsPlugin.GenerateToString<CR>
nnoremap <Leader>xO :action OverrideMethods<CR>
nnoremap <Leader>xI :action ImplementMethods<CR>
nnoremap <Leader>xD :action DelegateMethods<CR>

" Refactor and fix

nnoremap <Leader>zl :action Inline<CR>
nnoremap <Leader>zr :action RenameElement<CR>
nnoremap <Leader>zj :action MemberPushDown<CR>
nnoremap <Leader>zk :action MemberPullUp<CR>
nnoremap <Leader>zs :action ChangeSignature<CR>
nnoremap <Leader>zd :action SafeDelete<CR>
nnoremap <Leader>zm :action Move<CR>
nnoremap <Leader>zc :action CopyElement<CR>
nnoremap <Leader>zf :action ReformatCode<CR>
nnoremap <Leader>zi :action OptimizeImports<CR>
nnoremap <Leader>zn :action ShowIntentionActions<CR><Esc>
