" Emulated Vim plugins:
"   vim-easymotion
"   vim-surround
"   vim-multiple-cursors
"   vim-commentary
"   argtextobj.vim
"   vim-textobj-entire
"   ReplaceWithRegister

" Show all the provided actions via `:actionlist`

" Settings
" --------

" Leader key is Space
let mapleader = ' '

" Use system clipboard
set clipboard=unnamedplus

" Do not highlight searches by default
set nohlsearch

" Ignore case of searches
set ignorecase

" Highlight dynamically as pattern is typed
set incsearch

" Keys
" ----

" KJump plugin
nmap f :action KJumpAction.Word1<CR>

" Show project window would be: ActivateProjectToolWindow

" Jump to errors
nmap ; :action GotoNextError<CR>
nmap ' :action GotoPreviousError<CR>

" Enable or disable highlight of searches
map <silent> § :set hlsearch!<cr>

" Refresh .ideavimrc config
nnoremap ± :source ~/.ideavimrc<CR>

" Git
nnoremap <Leader>g :action Annotate<CR>

" Makes j and k do a page up and down
nnoremap j <C-d>
vnoremap j <C-d>
nnoremap k <C-u>
vnoremap k <C-u>

" Copies the file path
nnoremap <leader>p :action CopyFileReference<CR>

" Shows the file structure
nnoremap <Leader>f :action FileStructurePopup<CR>

" Closes the file
nnoremap q :q<CR>

" Close other tabs
nnoremap Q :action CloseAllEditorsButActive<CR>

" Save the file
nnoremap s :w<CR>

" Navigates the tabs
nnoremap h gT
nnoremap l gt

" Navigation and search
" TODO: quick documentation <--- popup
" TODO: quick definition <--- detailed window
" TODO: quick type definition ...?
" TODO: parameter info ...?
" TODO: go to declaration or usages
" TODO: go to definition(s)
" TODO: go to type declaration
" TODO: go to super definition
" TODO: quick definition
" TODO: switch between header and implementation
" TODO: recent files (cmd + e)
nnoremap <C-;> :action EditSource<CR> " Jump to source

nnoremap <Leader>su :action ShowUsages<CR> " also available: FindUsages
nnoremap <Leader>si :action GotoImplementation<CR>
nnoremap <Leader>ss :action GotoSuperMethod<CR>
nnoremap <Leader>sd :action QuickImplementations<CR>
nnoremap <Leader>st :action GotoTypeDeclaration<CR>
nnoremap <Leader>se :action ShowErrorDescription<CR>

" Build and debug
" nnoremap <Leader>Bp :action ViewBreakpoints<CR>
" nnoremap <Leader>bP :action EditBreakpoint<CR>
" nnoremap <Leader>bp :action ToggleLineBreakpoint<CR>
" nnoremap <Leader>bB :action Compile<CR>
" nnoremap <Leader>bb :action CompileDirty<CR>
" nnoremap <Leader>bm :action Maven.ExecuteGoal<CR>
" nnoremap <Leader>bM :action ActivateMavenProjectsToolWindow<CR>
" nnoremap <Leader>bx :action RunClass<CR>
" nnoremap <Leader>bX :action DebugClass<CR>
" nnoremap <Leader>br :action Run<CR>
" nnoremap <Leader>bR :action ChooseRunConfiguration<CR>
" nnoremap <Leader>bd :action Debug<CR>
" nnoremap <Leader>bD :action ChooseDebugConfiguration<CR>
" nnoremap <Leader>bc :action CreateRunConfiguration<CR>
" nnoremap <Leader>bC :action editRunConfigurations<CR>

" Version control actions
" nnoremap ]v :action VcsShowNextChangeMarker<CR>
" nnoremap [v :action VcsShowPrevChangeMarker<CR>
" nnoremap <Leader>vd :action VcsShowCurrentChangeMarker<CR>
" nnoremap <Leader>vr :action Vcs.RollbackChangedLines<CR>
" nnoremap <Leader>vu :action Vcs.UpdateProject<CR>
" nnoremap <Leader>vp :action Vcs.Push<CR>
" nnoremap <Leader>vc :action Vcs.QuickListPopupAction<CR>
" nnoremap <Leader>vb :action Git.Branches<CR>
" nnoremap <Leader>vv :action ActivateVersionControlToolWindow<CR>
" nnoremap <Leader>va :set norelativenumber<CR>:action Annotate<CR>

" Extract actions
" nnoremap <Leader>ei :action ExtractInterface<CR>
" nnoremap <Leader>es :action ExtractSuperclass<CR>
" nnoremap <Leader>en :action ExtractClass<CR>
" nnoremap <Leader>em :action ExtractMethod<CR>
" vnoremap <Leader>em <Esc>gvhh:<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action ExtractMethod<CR>
" nnoremap <Leader>ev :action IntroduceVariable<CR>
" vnoremap <Leader>ev <Esc>gvhh:<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceVariable<CR>
" nnoremap <Leader>ef :action IntroduceField<CR>
" vnoremap <Leader>ef <Esc>gvhh:<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceField<CR>
" nnoremap <Leader>ep :action IntroduceParameter<CR>
" vnoremap <Leader>ep <Esc>gvhh:<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceParameter<CR>
" nnoremap <Leader>ec :action IntroduceConstant<CR>
" vnoremap <Leader>ec <Esc>gvhh:<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action IntroduceConstant<CR>

" Refactoring actions
" nnoremap <Leader>ri :action Inline<CR>
" nnoremap <Leader>rr :action RenameElement<CR>i
" nnoremap <Leader>rj :action MemberPushDown<CR>
" nnoremap <Leader>rk :action MemberPullUp<CR>
" nnoremap <Leader>rs :action ChangeSignature<CR>
" nnoremap <Leader>rd :action SafeDelete<CR>
" nnoremap <Leader>rm :action Move<CR>
" nnoremap <Leader>rc :action CopyElement<CR>

" Fix actions
" nnoremap <Leader>ff :action ReformatCode<CR>
" vnoremap <Leader>ff <Esc>gvhh:<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action ReformatCode<CR>gv
" nnoremap <Leader>fi :action OptimizeImports<CR>
" nnoremap <Leader>fa :action ShowIntentionActions<CR><Esc>

" Hierarchy actions
" nnoremap <Leader>hh :action TypeHierarchy<CR>
" nnoremap <Leader>hm :action MethodHierarchy<CR>
" nnoremap <Leader>hc :action CallHierarchy<CR>
" nnoremap <Leader>hd :action ShowUmlDiagramPopup<CR>

" Generate actions
" nnoremap <Leader>ge :action GenerateEquals<CR>
" nnoremap <Leader>gg :action GenerateGetter<CR>
" nnoremap <Leader>gs :action GenerateSetter<CR>
" nnoremap <Leader>ga :action GenerateGetterAndSetter<CR>
" nnoremap <Leader>gc :action GenerateConstructor<CR>
" nnoremap <Leader>gt :action Actions.ActionsPlugin.GenerateToString<CR>
" nnoremap <Leader>go :action OverrideMethods<CR>
" nnoremap <Leader>gi :action ImplementMethods<CR>
" nnoremap <Leader>gd :action DelegateMethods<CR>

" Bookmarks
" nnoremap <Leader>m :action ToggleBookmarkWithMnemonic<CR>
" nnoremap <Leader>' :action ShowBookmarks<CR>
" nnoremap <Leader>` :action ShowBookmarks<CR>
" nnoremap ]b :action GotoNextBookmark<CR>
" nnoremap [b :action GotoPreviousBookmark<CR>

" Comments
" nnoremap gcc :action CommentByLineComment<CR>
" vnoremap gc :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action CommentByLineComment<CR>gv
" nnoremap gcap vap:<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action CommentByLineComment<CR>gv
