[include]
  path = ~/.gituser
[alias]
  a = "add"
  b = "branch"
  ba = "branch --all"
  bd = "branch -D"
  bv = "branch -vv"
  ca = "!git commit --amend "
  cb = "!git checkout -b"
  cm = "!git commit -m "
  co = "checkout"
  d = "diff"
  f = "!git fetch && git l -10"
  l = "!git ll -15"
  lf = "log --format=fuller"
  ll = "log --pretty=format:\"%C(dim green)%h %ai%Creset %C(cyan)%an%Creset%C(auto)%d%Creset %s\" --graph --all --color=always"
  ls = "log --decorate --oneline --simplify-by-decoration --graph --all"
  m = "merge"
  p = "!git push && git l -10"
  pf = "!git push -f && git l -10"
  pl = "!git pull && git l -10"
  pu = "!git push -u origin HEAD && git l -10"
  rp = "remote prune origin"
  s = "status"
  sl = "stash list --pretty=format:\"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%Creset%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(blue)<%an>%C(reset)\""
[color]
  ui = true
[core]
  editor = "/usr/local/bin/nvim -N -u ~/vim/init.git.vim"
  excludesfile = ~/.gitignore_global
  protectHFS = true
  protectNTFS = true
[credential]
  helper = osxkeychain
[receive]
  fsckObjects = true
[push]
  default = simple
[url "git@github.com:"]
  insteadOf = https://github.com/
